

.hero_section{
    margin-top: 80px;
}

.hero_content {
    margin-top: 60px;
}

.hero_content h2{
    line-height: 55px;
    font-size: 2.5rem;
}

.hero_content h2 span{
    background: linear-gradient(-45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #14141f;
    margin-left: 7px !important;
    display: inline-block;
}

.hero_btns {
    margin-top: 40px;
}

.explore_btn, 
.create_btn{
    border: none;
    outline: none;
    padding: 10px 25px !important;
    border: 50px !important;
    border-radius: 8px;
    border: 1px solid #5142fc !important;
    font-size: .9rem;
    background: transparent;
}

.explore_btn{
    background: rgb(35, 104, 255);
}

.explore_btn:hover {
    background: #363b61;
    transition: .5s;
}

.create_btn:hover{
    background: rgb(35, 104, 255);
}

.explore_btn i, 
.create_btn i {
    color: #fff;
    font-size: 1rem;
}

.explore_btn a, 
.create_btn a{
    text-decoration: none;
    color: #fff;
}

.hero_btns button a:hover {
    color: #fff;
}

.hero_img{
    position: relative;
    width: 500px;
    margin-left: 60px;
}

.hero_img img{
    border-radius: 7px;;
}

.odometer_slide {
    background: #24243557;
    padding: 20px;
    border-radius: 6px;
    flex-wrap: wrap;
    border: 1px solid #ffffff14;
    max-width: max-content;
    margin-top: 20px;
}

.odometer_inner {
    border-radius: 6px;
    padding: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff14;
    background: #242435;
    max-width: calc(33.33% - 15px); /* Adjust based on the number of odometers you have */
}

.odometer_inner p{
    color: rgb(97, 139, 255);
    font-size: 18px;
    font-weight: 500;
}

.joined-people-wrapper {
    position: absolute;
    bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    height: max-content;
    background: transparent;
    border: 1px solid #ffffff14;
    --webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: hsla(0, 0%, 100%, .051);
}

.product-share-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ______________________Responsive_______________________ */

@media only screen and (max-width: 768px) {
    .odometer_slide {
        flex-direction: column;
        align-items: center;
    }

    .odometer_inner {
        max-width: 100%;
        font-size: 13px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 992px) {
    
    .hero_img {
        width: 270px;
    }

    .hero_section {
        margin-top: 70px;
    }

    .hero_content h2{
        font-size: 1.5rem;
        line-height: 40px;
    }

    .hero_content p{
        font-size: .8rem;
        line-height: 25px;
    }

    .create_btn, .explore_btn {
        padding: 4px 25px !important;
    }

    .create_btn,
    .explore_btn {
        font-size: .7rem;
    }

    .odometer_slide {
        flex-direction: row;
        padding: 10px;
        align-items: center;
    }

    .odometer_inner {
        padding: 10px;
        margin-right: 0;
        margin-bottom: 5px;
        max-width: 100%;
        font-size: 14px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 992px) {
    .hero_img {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .odometer_slide {
        padding: 15px;
        max-width: 100%;
    }

    .odometer_inner {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 581px) {

    .hero_content{
        margin-top: 30px;
    }

    .hero_img {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    .odometer_slide {
        padding: 15px;
    }

    .odometer_inner {
        margin-right: 0;
        max-width: 100%;
    }
}

@media only screen and (max-width: 455px) {
    .odometer_slide {
        padding: 15px;
    }

    .odometer_inner {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}