.single_step_item {
    background: #343444;
    position: relative;
    border-radius: 5px;
    padding: 70px 20px;
    text-align: center;
}

.step_title {
    color: #fff;
    margin-bottom: 5rem;
}

.step_item_content h5 a{
    text-decoration: none;
    color: #fff;
}

.single_step_item span img{
    position: absolute;
    top: 0;
    transform: translate(70%, -50%);
    color: #fff;
    height: 110px;
    border-radius: 5px;
}

.single_step_item span{
    margin-bottom: 15px;
}

.step_item_content {
    margin-top: 20px !important;
}

@media only screen and (max-width: 992px) {
    .step_item_content h5 a{
        font-size: 1rem;
    }

    .single_step_item p {
        font-size: .8rem;
        line-height: 25px;
    }
}